ClientNutrition/Connected Services/ServiceNutrition/NutritionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGender">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGenderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateIdealWeight">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateIdealWeightResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateIdealWeightResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateBMI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="heightInCm" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateBMIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateBMIResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFoods">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFoodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFoodsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFood">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeAliment" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="calorii" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="macronutrienti" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFoodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFoodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFood">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeAliment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFoodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFoodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoodInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="foodName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFoodInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFoodInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMealPlans">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMealPlansResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMealPlansResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFood">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="foodId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="foodName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="calories" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="macronutrients" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFoodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateFoodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetGenderSoapIn">
    <wsdl:part name="parameters" element="tns:GetGender" />
  </wsdl:message>
  <wsdl:message name="GetGenderSoapOut">
    <wsdl:part name="parameters" element="tns:GetGenderResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateIdealWeightSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateIdealWeight" />
  </wsdl:message>
  <wsdl:message name="CalculateIdealWeightSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateIdealWeightResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateBMISoapIn">
    <wsdl:part name="parameters" element="tns:CalculateBMI" />
  </wsdl:message>
  <wsdl:message name="CalculateBMISoapOut">
    <wsdl:part name="parameters" element="tns:CalculateBMIResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFoodsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFoods" />
  </wsdl:message>
  <wsdl:message name="GetAllFoodsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFoodsResponse" />
  </wsdl:message>
  <wsdl:message name="AddFoodSoapIn">
    <wsdl:part name="parameters" element="tns:AddFood" />
  </wsdl:message>
  <wsdl:message name="AddFoodSoapOut">
    <wsdl:part name="parameters" element="tns:AddFoodResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFoodSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFood" />
  </wsdl:message>
  <wsdl:message name="DeleteFoodSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFoodResponse" />
  </wsdl:message>
  <wsdl:message name="GetFoodInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFoodInfo" />
  </wsdl:message>
  <wsdl:message name="GetFoodInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFoodInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMealPlansSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMealPlans" />
  </wsdl:message>
  <wsdl:message name="GetAllMealPlansSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMealPlansResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFoodSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFood" />
  </wsdl:message>
  <wsdl:message name="UpdateFoodSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFoodResponse" />
  </wsdl:message>
  <wsdl:portType name="NutritionServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <wsdl:input message="tns:GetGenderSoapIn" />
      <wsdl:output message="tns:GetGenderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateIdealWeight">
      <wsdl:input message="tns:CalculateIdealWeightSoapIn" />
      <wsdl:output message="tns:CalculateIdealWeightSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateBMI">
      <wsdl:input message="tns:CalculateBMISoapIn" />
      <wsdl:output message="tns:CalculateBMISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFoods">
      <wsdl:input message="tns:GetAllFoodsSoapIn" />
      <wsdl:output message="tns:GetAllFoodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddFood">
      <wsdl:input message="tns:AddFoodSoapIn" />
      <wsdl:output message="tns:AddFoodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFood">
      <wsdl:input message="tns:DeleteFoodSoapIn" />
      <wsdl:output message="tns:DeleteFoodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFoodInfo">
      <wsdl:input message="tns:GetFoodInfoSoapIn" />
      <wsdl:output message="tns:GetFoodInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMealPlans">
      <wsdl:input message="tns:GetAllMealPlansSoapIn" />
      <wsdl:output message="tns:GetAllMealPlansSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFood">
      <wsdl:input message="tns:UpdateFoodSoapIn" />
      <wsdl:output message="tns:UpdateFoodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NutritionServiceSoap" type="tns:NutritionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <soap:operation soapAction="http://tempuri.org/GetGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateIdealWeight">
      <soap:operation soapAction="http://tempuri.org/CalculateIdealWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBMI">
      <soap:operation soapAction="http://tempuri.org/CalculateBMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFoods">
      <soap:operation soapAction="http://tempuri.org/GetAllFoods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFood">
      <soap:operation soapAction="http://tempuri.org/AddFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFood">
      <soap:operation soapAction="http://tempuri.org/DeleteFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodInfo">
      <soap:operation soapAction="http://tempuri.org/GetFoodInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMealPlans">
      <soap:operation soapAction="http://tempuri.org/GetAllMealPlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFood">
      <soap:operation soapAction="http://tempuri.org/UpdateFood" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NutritionServiceSoap12" type="tns:NutritionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <soap12:operation soapAction="http://tempuri.org/GetGender" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateIdealWeight">
      <soap12:operation soapAction="http://tempuri.org/CalculateIdealWeight" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBMI">
      <soap12:operation soapAction="http://tempuri.org/CalculateBMI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFoods">
      <soap12:operation soapAction="http://tempuri.org/GetAllFoods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFood">
      <soap12:operation soapAction="http://tempuri.org/AddFood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFood">
      <soap12:operation soapAction="http://tempuri.org/DeleteFood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFoodInfo">
      <soap12:operation soapAction="http://tempuri.org/GetFoodInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMealPlans">
      <soap12:operation soapAction="http://tempuri.org/GetAllMealPlans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFood">
      <soap12:operation soapAction="http://tempuri.org/UpdateFood" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NutritionService">
    <wsdl:port name="NutritionServiceSoap" binding="tns:NutritionServiceSoap">
      <soap:address location="https://localhost:44331/NutritionService.asmx" />
    </wsdl:port>
    <wsdl:port name="NutritionServiceSoap12" binding="tns:NutritionServiceSoap12">
      <soap12:address location="https://localhost:44331/NutritionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>